$color-primary: #005bac;
$color-primary-text: #eff0f0;

$color-secondary: #b2bdc7;
$color-secondary-text: #333e47;

$color-background: #ffffff;
$color-background-dim: #eff0f0;
$color-text: #222425;

$color-caution: #f26451;
