name: Build image (main)

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: traportfolio-dashboard
  IMAGE_TAG: main

jobs:
  genApi:
    name: Generate APIs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm ci
      - run: npm run gen-api
      - uses: actions/upload-artifact@v6
        with:
          name: apis
          path: ./src/lib/apis/generated
  image:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    needs:
      - genApi
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: traptitech
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: apis
          path: ./src/lib/apis/generated
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: ghcr.io/traptitech/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
  deploy-staging:
    name: Deploy staging
    runs-on: ubuntu-latest
    needs:
      - image
    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.STAGING_SSH_KEY }}
          known_hosts: ${{ secrets.STAGING_KNOWN_HOSTS }}
      - name: Deploy
        run: ssh -t ${{ secrets.STAGING_DEPLOY_USER }}@${{ secrets.STAGING_DEPLOY_HOST }} "sudo sh /srv/portfolio/deploy.sh portfolio-dashboard"
